.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 30px 0 30px 0;
}
.header h1{
    font-size: 42px;
}
.tytle{
    margin-bottom: 15px;
}
.leng{
    display: flex;
    align-items: center;
}
.palka{
    margin: 0 10px;
}
.en, .ru{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.active{
    color: green;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
@media (max-width: 767px){
    .header{
        padding: 30px 15px 30px 15px;
    }
}
@media (max-width: 480px){
    .leng{
        flex-direction: column;
        margin-top: 30px;
    }
    .palka{
        display: none;
    }
    .wrap{
        align-items: flex-start;
    }
    .header h1{
        font-size: 36px;
    }
}