.blockLinck {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(100% / 3 - 10px);
    grid-gap: 15px;
}

iframe , video{
    width: 100%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.53);
    height: 180px;
}


@media (max-width: 1199px){
    .blockLinck a{
     /* height: 130px; */
    }
}

@media (max-width: 991px){
    .blockLinck a{
        /* height: 100px; */
    }
}
@media (max-width: 560px){
    .blockLinck a{
        /* height: 27vw; */
    }
}

@media (max-width: 767px){
    .blockLinck {
        width: 100%;
        display: grid;
        grid-template-columns: calc(100% / 2 - 10px) calc(100% / 2 - 10px);
        grid-gap: 15px;
    }
}